<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Página Principal</title>
</head>
<body style="padding:20px">
    <h1>Bem-vindo!</h1>

    <button onclick="window.location.href='categorias'">Categorias</button>    
    <button onclick="window.location.href='categoria_adicionar'">Adicionar Categoria</button>
    <button onclick="window.location.href='retalhistas'">Retalhistas</button>
    <button onclick="window.location.href='retalhista_adicionar'">Adicionar Retalhista</button>
    <button onclick="window.location.href='ivms'">IVMs</button>
    <button onclick="window.location.href='eventos_reposicao'">Eventos de Reposição</button>
    <button onclick="window.location.href='produtos'">Produtos</button>

</body>
</html>